*.lss
*.o
*.pbi
*.cout
*.hex
*.bin
*.pbd
*.browse
*.out
*.d
*.bat
*.crun
*.dni
*.jlink
*.eep
*.elf
*.sim
*.TMP
*.map
*.a90
*.r90
/Regulator Motor/Debug/Exe/RegulatorMotor.a90
/Regulator Motor/Debug/Obj/*.r90
/Regulator Motor/settings
